@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #243e63;
}
.row {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
body {
  font-family: "Inter", sans-serif;
  height: 100vh;
}
section {
  padding: 0 32px;
}
.section__tag{
  color:#6415ff;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-top: 122px;
}
.section__title{
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 1.4px;
  padding: 20px 0;
}
.section__para{
  font-weight: 500;
  color: #7c8ba1;
  max-width: 568px;
  line-height: 1.5;
  font-size: 18px;
}
p{
  font-weight: 500;
  color: #7c8ba1;
  line-height: 1.5;
}
img {
  width: 100%;
}
.text--indigo {
  color: #6415ff;
}
a {
  color: #243e63;
  text-decoration: none;
}

button {
  line-height: 1.5;
  margin-top: 5px;
  margin: 0;
  background-color: #6415ff;
  color: white;
  border-radius: 50px;
  cursor: pointer;
}
/* NAV */
nav {
  padding-top: 32px;
  display: flex;
  align-items: center;
}
.nav__row {
  display: flex;
  justify-content: space-between;
}
.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}
.nav__logo--img {
  width: 40px;
  height: 40px;
}
.nav__logo--title {
  font-size: 24px;
  font-weight: 900;
  margin-left: 12px;
  padding-bottom: 2px;
  letter-spacing: 0.6px;
}
.nav__links {
  display: flex;
  align-items: center;
}
.nav__link {
  font-size: 14px;
  font-weight: 600;
  padding-top: 4px;
  letter-spacing: 0.35px;
}
.nav__link {
  margin: 0 24px;
}
.login {
  margin-left: 48px;
}
.nav__link--primary {
  padding: 10px 32px;
  line-height: 1.5;
  margin-top: 5px;
  margin: 0;
  background-color: #6415ff;
  color: white;
  border-radius: 50px;
}
/* LANDING */
#landing {
  height: 100%;
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 480px;
  margin-top: 100px;
  margin-bottom: 30px;
}
.header__description--title {
  font-size: 48px;
  letter-spacing: 0.6px;
  color: #1a202c;
}
.header__description--para {
  line-height: 1.5;
  font-size: 18px;
  margin: 30px 0;
}
.header__email {
  width: 100%;
  max-width: 448px;
  position: relative;
}
.header__email--input {
  height: 68px;
  border-radius: 50px;
  font-size: 16px;
  text-align: center;
  border: 2px solid rgb(229, 231, 235);
  padding: 20px 192px 20px 32px;
  z-index: 1;
  max-width: 600px;
  width: 100%;
  font-weight: 600;
  opacity: 0.5;
}
.header__email--btn {
  padding: 10px 32px;
  line-height: 1.5;
  margin-top: 5px;
  margin: 0;
  background-color: #6415ff;
  color: white;
  border-radius: 50px;
  position: absolute;
  top: 6px;
  right: 6px;
  height: 56px;
  font-size: 18px;
  font-weight: 700;
  z-index: 2;
  border: none;
}
  
  
.header__customers {
  display: flex;
  flex-direction: column;
  max-width: 448px;
  margin-top: 12px;
}

.header__customers--para {
  font-size: 12px;
  color: #a0aec0;
  font-weight: 700;
  margin-top: 48px;
}
.header__customer {
  opacity: 0.5;
  width: 100%;
  margin-top: 26px;
}

.header__img--wrapper {
  max-width: 752px;
  width: 100%;
  margin-top: 100px;
}
/* FEATURES */
#features{
  height: 100vh;
  margin: 0 auto;
}
.features__row{
  display: flex;
  flex-direction: column;
  
}
.features__description{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.features__description--para{
  text-align: center;
  margin-bottom: 80px;
}
  .features--wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.feature{
  display: flex;
  max-width: calc(100% / 3);
  margin-bottom: 60px;
}
.feature__img--wrapper{
  width: 68px;
  height: 68px;
  border: 1px solid #e5e7eb;
  border-radius: 50px
}
.feature__img{
 padding: 21px;
}
.feature__description{
max-width: 264px;
}
.feature__description--title{
  margin-bottom: 16px;
}