@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #243e63;
}
.row {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.container{
  padding: 80px 0;
}
body {
  font-family: "Inter", sans-serif;
  height: 100vh;
}
.section__tag{
  color:#6415ff;
  font-weight: 700;
  letter-spacing: 1.5px;
}
.section__title{
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 1.4px;
  padding: 20px 0;
}
.section__para{
  font-weight: 500;
  color: #7c8ba1;
  max-width: 568px;
  line-height: 1.5;
  font-size: 18px;
  margin-bottom: 20px;
}
p{
  font-weight: 500;
  color: #7c8ba1;
  line-height: 1.5;
}
img {
  width: 100%;
}
.text--indigo {
  color: #6415ff;
}
a {
  color: #243e63;
  text-decoration: none;
}

button {
  padding: 10px 32px;
  line-height: 1.5;
  margin-top: 5px;
  margin: 0;
  background-color: #6415ff;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  border: none;
}

/* NAV */
nav {
  padding-top: 32px;
  display: flex;
  align-items: center;
}
.nav__row {
  display: flex;
  justify-content: space-between;
}
.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}
.nav__logo--img {
  width: 40px;
  height: 40px;
}
.nav__logo--title {
  font-size: 24px;
  font-weight: 900;
  margin-left: 12px;
  padding-bottom: 2px;
  letter-spacing: 0.6px;
}
.nav__links {
  display: flex;
  align-items: center;
}
.nav__link {
  font-size: 14px;
  font-weight: 600;
  padding-top: 4px;
  letter-spacing: 0.35px;
}
.nav__link {
  margin: 0 24px;
}
.login {
  margin-left: 48px;
}
.nav__link--primary {
  padding: 10px 32px;
  line-height: 1.5;
  margin-top: 5px;
  margin: 0;
  background-color: #6415ff;
  color: white;
  border-radius: 50px;
}
/* LANDING */
#landing {
  height: 100%;
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 480px;
  margin-bottom: 30px;
}
.header__description--title {
  font-size: 48px;
  letter-spacing: 0.6px;
  color: #1a202c;
}
.header__description--para {
  line-height: 1.5;
  font-size: 18px;
  margin: 30px 0;
}
.header__email {
  width: 100%;
  max-width: 448px;
  position: relative;
}
.header__email--input {
  height: 68px;
  border-radius: 50px;
  font-size: 16px;
  text-align: center;
  border: 2px solid rgb(229, 231, 235);
  padding: 20px 192px 20px 32px;
  z-index: 1;
  max-width: 600px;
  width: 100%;
  font-weight: 600;
  opacity: 0.5;
}
.header__email--btn{
  padding: 10px 32px;
  line-height: 1.5;
  margin-top: 5px;
  margin: 0;
  background-color: #6415ff;
  color: white;
  border-radius: 50px;
  position: absolute;
  top: 6px;
  right: 6px;
  height: 56px;
  font-size: 18px;
  font-weight: 700;
  z-index: 2;
  border: none;
}
.header__customers {
  display: flex;
  flex-direction: column;
  max-width: 448px;
  margin-top: 12px;
}

.header__customers--para {
  font-size: 12px;
  color: #a0aec0;
  font-weight: 700;
  margin-top: 48px;
}
.header__customer {
  opacity: 0.5;
  width: 100%;
  margin-top: 26px;
}

.header__img--wrapper {
  max-width: 752px;
  width: 100%;
}
/* FEATURES */
  
  .features__row{
  display: flex;
  flex-direction: column;
}
.features__description{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.features__description--tag{
  margin-top: 60px;
}
.features__description--para{
  text-align: center;
  margin-bottom: 80px;
}
  .features--wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.feature{
  display: flex;
  max-width: calc(100% / 3);
  margin-bottom: 60px;
}
.feature__img--wrapper{
  width: 68px;
  height: 68px;
  border: 1px solid #e5e7eb;
  border-radius: 50px
}
.feature__img{
 padding: 21px;
}
.feature__description{
max-width: 264px;
margin-left: 16px;
}
.feature__description--title{
  margin-bottom: 16px;
}
/* QUALITY */
#quality{
  padding: 80px 0;
}
.quality__row{
  position: relative;
}
.quality__description{
  position: relative;
  max-width: 40%;
}
.quality__description--para{
  margin-bottom: 30px;
}
.quality__img--wrapper{
  position: relative;
  z-index: 2;
  padding: 10px 60px 60px 60px;
}
.quality__img{
  border: 1px solid #e5e7eb;
  border-radius: 4px;

}
.quality__grid{
  width: 100%;
  max-width: 84px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  transform: translateY(-24%) translateX(-23%);
  fill: rgb(100, 21, 255);
}
/* STEPS */

.steps__img--wrapper{
  width: 50%;
}
.steps__description{
  max-width: 50%;
  padding-left: 50px;
}
.step{
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}
.steps__items{
  display: flex;
  flex-direction: column;
}
.steps__item--title{
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
}
.steps__item--para{
  max-width: 60%;
  font-size: 16px;
}
.steps__items--number{
  font-size: 36px;
  font-weight: 600;
  color: #cbd5e0;
  margin-right: 32px;
}
.number__one{
  margin-right: 38px;
}
/* VALUES */
.values__description--wrapper{
  max-width: 45%;
}
.values__description--title{
  margin-bottom: 32px;
}
.values__list--wrapper{
  display: flex;
}

.values__list{
  display: flex;
  flex-direction: column;
}
.values__list:not(:last-child){
  margin-right: 48px;
}
.affordable__img--wrapper{
  padding: 8px;
  border: transparent;
  border-radius: 50%;
  background-color: #9ae6b4;
}
.professionalism__img--wrapper{
  padding: 8px;
  border: transparent;
  border-radius: 50%;
  background-color: #feb2b2;
}
.value__list--img{
  display: flex;
}
.value__img--wrapper{
  display: flex;
  margin-bottom: 16px;
}
.value__title{
  font-size: 20px;
  font-weight: 700;
  margin-top: 6px;
  margin-left: 8px;
}
.value__description{
  font-weight: 400;
}
.values__btn{
  margin-top: 48px;
}
.values__image{
  padding: 24px;
}
.values__image--wrapper{
  width: 55%;
}
/* PRICING */
.pricing__description{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}
.pricing__row{
  display: flex;
  flex-direction: column;
  position: relative;
}
.pricing__para{
  text-align: center;
  margin-bottom: 80px;
}
.pricing__list{
  display: flex;
  justify-content: center;
  z-index: 1;
}
.pricing__item{
  text-align: center;
  width: calc(100% / 3);
  border: 1px solid rgb(229, 231, 235);
  margin: 0 28px;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(138, 67, 67, 0.1);
}
.pricing__item--personal, .pricing__item--enterprise{
  background-color: rgb(255 255 255);
}
.pricing__item:nth-child(1) .pricing__item--middle, .pricing__item:nth-child(3) .pricing__item--middle{ 
  border-top: 1px solid rgb(229, 231, 235);
  border-bottom: 1px solid rgb(229, 231, 235);
}
.pricing__item:nth-child(2) .pricing__item--middle{
  border-top: 1px solid rgb(102, 126, 234);
  border-bottom: 1px solid rgb(102, 126, 234);  
}

.pricing__item--business{
  background: linear-gradient(135deg, rgb(76, 81, 191), rgb(102, 126, 234));
  position: relative;
}
.pricing__strip{
  display: flex;
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 8px;
  top: 0;
  }
.pricing__item--business::before{
    content: "";
    position: absolute;
    width: 100%;
    padding-top: 8px;
    display: flex;
    border-radius: 10px 10px 0 0;
    background-color: transparent;
  }
.pricing__item--personal .pricing__strip, .pricing__item--personal .list__btn{
background: linear-gradient(135deg, rgb(56, 178, 172), rgb(129, 230, 217));
}
.pricing__item--enterprise .pricing__strip, .pricing__item--enterprise .list__btn{
  background: linear-gradient(135deg, rgb(245, 101, 101), rgb(254, 178, 178));
}

.list__title{
  padding-top: 40px;
}
.pricing__item--business .list__title{
  margin-top: 8px;
}
.pricing__item--business .list__title,
.pricing__item--business .list__price,
.pricing__item--business .list__frequency,
.pricing__item--business .list__audience,
.pricing__item--business .list__feature{
  color: #f7fafc;
}
.list__price{
  padding: 20px 0;
  font-size: 46px
}
.list__frequency{
  margin-bottom: 40px;
}
.list__audience{
  margin-top: 32px;
  margin-bottom: 24px;
}
.list__features{
  list-style-type: none;
}
.list__feature{
  font-weight: 500;
}

.list__feature{
  padding-bottom: 24px;
} 
.list__btn{
  margin: 24px 0;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 48px;
}
.pricing__item--business .list__btn{
  color: #6415ff;
  background-color: #fff;
}
.pricing__blob{
  position: absolute;
  z-index: 0;
  bottom: -35%;
  left: -10%;
  width: 25%;
  opacity: 0.5;
}
 
  .pricing__item--enterprise .list__title,
  .pricing__item--enterprise .list__price,
  .pricing__item--enterprise .list__audience,
  .pricing__item--personal .list__frequency, .pricing__item--personal .list__audience, .pricing__item--personal .list__title, .pricing__item--personal .list__price{
    color: #1a202c;
  }
  
.pricing__item--personal .list__frequency, .pricing__item--enterprise .list__frequency{
  color: #a0aec0;
}
.pricing__item--personal .list__feature,
.pricing__item--enterprise .list__feature{
  color: #718096;
}